altgraph==0.17.2
certifi==2022.6.15
future==0.18.2
numpy==1.21.6
opencv-python==4.6.0.66
pefile==2022.5.30
pip==21.2.4
pkgconfig==1.5.5
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pywin32==304
pywin32-ctypes==0.2.0
setuptools==61.2.0
wheel==0.37.1
wincertstore==0.2
